<script type="text/javascript"></script>
<div class="page-content">
    <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-6 col-sm-offset-1">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <h4 class="header blue lighter bigger">
                            Ajouter patient 
                        </h4>
                        <br/>
                        <form name="ajoutPatForm" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="email">Email</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <input type="text" class="form-control" placeholder="Email" name="email" ng-model="ajoutPat.email" focus/>
                                        <span ng-show="ajoutPatForm.email.$error.email" class="help-inline">Email n'est pas valide</span> 
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="password">Password</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" name = "password" placeholder="Mot de passe" ng-model="ajoutPat.password" required/>
                                <small class="errorMessage" data-ng-show="ajoutPatForm.password.$dirty && ajoutPatForm.password.$invalid">Entrez le mot de passe</small>
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="password2">Confirmez le mot de passe</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" name="password2" placeholder="Mot de passe " ng-model="ajoutPat.password2" password-match="ajoutPat.password" required/>                                
                                <small class="errorMessage" data-ng-show="ajoutPatForm.password2.$dirty && ajoutPatForm.password2.$error.required"> Rentrez le mot de passe</small>

                               <small class="errorMessage" data-ng-show="ajoutPatForm.password2.$dirty && ajoutPatForm.password2.$error.passwordNoMatch && !ajoutPatForm.password2.$error.required"> Mot de passe n'est pas correcte</small>

                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="prenom">Prenom</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Prénom" ng-model="ajoutPat.prenom" />
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="nom">Nom</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Nom" ng-model="ajoutPat.nom" />
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="telephone">Téléphone</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Téléphone" name="telephone" ng-model="ajoutPat.telephone"/>
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="Adresse">Adresse</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Adresse" ng-model="ajoutPat.adresse" />
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="lbl col-sm-5"> </span>
                                <div class="col-sm-7">
                                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="ajoutPatient(ajoutPat)" data-ng-disabled="ajoutPatForm.$invalid">
                                        Enregistrer
                                    </button>
                                </div>
                            </div>
                            </fieldset>
                            <span class="lbl col-sm-5"> </span>
                            <div class="col-sm-7">Vous avez déja un compte ?<a href="#/login">S'inscrire</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.page-content -->