 <div class="page-content">
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="navbar navbar-default navbar-static-top" >
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                   <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        
           <a class="navbar-brand"><span> <img src="./img/logo_p1.png"/><b>   Medecin ID: </b> {{id}}
                        / <b> Nom:</b> {{nom}} 
                        </a>

        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#logout">Déconnexion</a>
            </li>
          </ul>
        </div>
        
      </div>
    </div><br><br><br><br><br><br><br>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="container">
                <div class="row">
                    <h1>Vos patients</h1>
                    <br>
                   </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <table class="table">
              <thead>
                <tr>
                  <th>Identifiant</th>
                  <th>Nom</th>
                  <th>Prénom</th>
                  <th>Email</th>
                  <th>Téléphone</th>
                  <th>Adresse</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              <tr ng-repeat="data in patients">
                <td>{{data.id}}</td>
                <td>{{data.nom}}</td>
                <td>{{data.prenom}}</td>
                <td>{{data.email}}</td>
                <td>{{data.telephone}}</td>
                <td>{{data.adresse}}</td>
                <td><a href="#/manage-patient/{{data.id}}" class="btn">&nbsp;<img src="./img/manage.png" > Gerer
                </td>
                <td><a href="../TestPsycho/pdfs/1_{{data.id}}.pdf" class="btn">&nbsp;<img src="./img/analyse.png" > Rotation mentale</a></td>
                <td>
                 <a href="../TestPsycho/pdfs/2_{{data.id}}.pdf" class="btn">&nbsp;<img src="./img/analyse.png" > N-Back</a>
                </td>
              </tr>
              </tbody>
            </table>
            <a class="btn btn-primary" href="#ajoutPat"><i class="fa fa-fw -o fa-plus"></i>Ajouter un nouveau patient</a>
          </div>
        </div>
      </div>
    </div>
</div>
</body>
<br>  <br>  <br> 
  
<footer>
<!-- Copyright and social media section -->
<section class="copyright-section">
<div class="container">
<div class="row">
<div class="col-sm-12">
<div class="logo">
<!-- Replace Your logo and remove text  -->
<!-- <img src="images/logo.png" class="img-responsive center-block"> -->
<!--<h2 class="demo-logo">Ψ <strong>P</strong>sycho<strong>T</strong>est Ψ</h2>-->
</div>
<div class="social-media">
<ul class="list-inline">
<li><a href=""><i class="fa fa-facebook"></i></a></li>
<li><a href=""><i class="fa fa-twitter"></i></a></li>
<li><a href=""><i class="fa fa-google-plus"></i></a></li>
<li><a href=""><i class="fa fa-pinterest"></i></a></li>
<li><a href=""><i class="fa fa-youtube-play"></i></a></li>
</ul>
</div>

<div class="copyright">
<p>Copyright &copy; 2017 │A.M.I (V1.0) │UFR Sciences et Technique du Havre </p>
</div>
</div>
</div>
</div>
</section><!--  End of copyright and social media section -->
</footer> <!--  End of footer -->
</div>
<!-- /.page-content -->